@import "tailwindcss";

/* === Hoverage === */
@font-face {
  font-family: "Hoverage";
  src: url("/font/Hoverage/Hoverage.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* === Source Sans Pro === */
@font-face {
  font-family: "Source Sans Pro";
  src: url("/font/SourceSansPro/SourceSansPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #000;
}

.svg-white {
  filter: brightness(0) saturate(100%) invert(100%);
}

.svg-beige {
  filter: brightness(0) saturate(100%) invert(85%) sepia(15%) saturate(1217%)
    hue-rotate(16deg) brightness(96%) contrast(88%);
}
